
<div class="profesionals">
    <section class="card-section">
     
      <div class="card text-center">
        <div class="card-header">
          <img class="card-img-top" src="/../../assets/User-Profile-PNG-Image.png" height="100px" width="40px"  alt="user image">
  
        </div>
        <div class="card-body">
          <h5 class="card-title">jone smith</h5>
          <p class="card-subtitle">CFA,CIC</p>
          <p class="card-text"><span>premium member</span></p>
          <p>
            <span class="mr-4"><fa-icon [icon]="film"></fa-icon>insurance agent,attorney,accountant</span>
          </p>
          
        </div>
        <div class="card-footer ">
          <span class="mr-4"><fa-icon [icon]="mortar"></fa-icon>send an email</span>
        </div>
      </div>
    </section>
    <section class="styleofbussiness">
  <!-- 
    <div>
         <h1 class="business">business details</h1>
    </div>
    <div>
      <div class="profile-flex">
      <div >
  <img >
  profile
      </div>
      <div>
        <button mat-raised-button class="butStyle" (click)='openDialog()'>Edit Profile
        </button>
      </div>
    </div>
    <div>
  <form>
    <ul class="unorderlist">
      <li>
  NAME:
      </li>
      <li>
        domain:
      </li>
      <li>
        gender:
      </li>
      <li>
        date of birth:
      </li>
      <li>
        phone number:
      </li>
      <li>
        location:
      </li>
    </ul>
  </form>
    </div>
    </div> -->
    <div class="card businesscard">
      <div class="card-header">
        <h5 class="business">Business Details</h5>
      </div>
      <div class="card-body businesscardbody">
        <div class="profile-flex">
        <h5 class="card-title bussinesscardtitle"><fa-icon [icon]="userimage"></fa-icon>Profile</h5>
        <button mat-raised-button class="butStyle" (click)='openDialog()'>Edit Profile
        </button>
      </div>
      <div>
        <form>
          <ul class="unorderlist">
            <li>
        Name:<span class="userdataspacingname">nani</span>
            </li>
            <li>
              Domain:<span class="userdataspacingdomain">www.facebook.com</span>
            </li>
            <li>
              Gender:<span class="userdataspacinggender">male</span>
            </li>
            <li>
              Date Of Birth:<span class="userdataspacingdate">12-4-1993</span>
            </li>
            <li>
              Phone number:<span class="userdataspacingnumber">+91987654321</span>
            </li>
            <li>
              Location:<span class="userdataspacinglocation">miyapur hyd-500049</span>
            </li>
          </ul>
        </form>
          </div>
      <!-- <form>
        <mat-form-field>
          <mat-label>name:</mat-label>
  
        </mat-form-field>
        <mat-form-field>
          <mat-label>domain:</mat-label>
  
        </mat-form-field>
        <mat-form-field>
          <mat-label>gender:</mat-label>
  
        </mat-form-field>
        <mat-form-field>
          <mat-label>dateofbirth:</mat-label>
  
        </mat-form-field>
        <mat-form-field>
          <mat-label>phonenumber:</mat-label>
  
        </mat-form-field>
        <mat-form-field>
          <mat-label>location:</mat-label>
  
        </mat-form-field>
        
  
      </form> -->
      </div>
    </div>
  </section>
  </div>